@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #121214;
}

body::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}